@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: oklch(5% 0.02 290);
  --foreground: oklch(100% 0 0);
  --card: oklch(2% 0 0);
  --card-foreground: oklch(100% 0 0);
  --popover: oklch(0.16 0.005 255);
  --popover-foreground: oklch(0.2 0.02 255);
  --popover-foreground: oklch(0.94 0.01 255);
  --primary: oklch(0.72 0.16 152);
  --primary-hover: oklch(0.67 0.16 152);
  --primary-foreground: oklch(0.14 0.01 255);
  --secondary: oklch(0.65 0.18 292);
  --secondary-hover: oklch(0.6 0.18 292);
  --secondary-foreground: oklch(0.14 0.01 255);
  --muted: oklch(93% 0.02 240 / 0.08);
  --muted-foreground: oklch(73% 0.01 240);
  --accent: oklch(0.75 0.15 45);
  --accent-hover: oklch(0.7 0.15 45);
  --accent-foreground: oklch(0.14 0.01 255);
  --destructive: oklch(60.4% 0.191 22.216);
  --border: oklch(15% 0.01 240);
  --input: oklch(0.96 0.01 255);
  --ring: oklch(20% 0.01 240);
  --chart-1: oklch(58% 0.2 285);
  --chart-2: oklch(65% 0.25 320);
  --chart-3: oklch(72% 0.15 25);
  --chart-4: oklch(50% 0.15 240);
  --chart-5: oklch(50% 0.15 240);
  --sidebar: oklch(12% 0.01 240);
  --sidebar-foreground: oklch(100% 0 0);
  --sidebar-primary: oklch(48.8% 0.243 264.376);
  --sidebar-primary-foreground: oklch(100% 0 0);
  --sidebar-accent: oklch(26.9% 0 0);
  --sidebar-accent-foreground: oklch(100% 0 0);
  --sidebar-border: oklch(100% 0 0 / 0.1);
  --sidebar-ring: oklch(57% 0 0);
  --shdw-tst: 0 4px 20px -2px rgba(0, 0, 0, 0.6);
  --radius: 8px;
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
  --fuchsia-50: oklch(95.89% 0.017 286.14);
  --fuchsia-100: oklch(92.34% 0.034 285.75);
  --fuchsia-200: oklch(84.91% 0.068 284.88);
  --fuchsia-300: oklch(77.21% 0.105 283.67);
  --fuchsia-400: oklch(69.83% 0.142 282.1);
  --fuchsia-500: oklch(62.06% 0.18 279.78);
  --fuchsia-600: oklch(53.66% 0.22 276.04);
  --fuchsia-700: oklch(44.89% 0.256 269.8);
  --fuchsia-800: oklch(34.89% 0.203 269.29);
  --fuchsia-900: oklch(24.76% 0.144 269.27);
  --fuchsia-950: oklch(18.75% 0.11 269.02);
  --shdw-tst: 0 16px 20px -8px rgb(3 5 18 / 0.1);
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-7xl: 80rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);

  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --radius-xs: calc(var(--radius) - 4px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 2 - 4px);
  --radius-2xl: calc(var(--radius) * 2);
  --radius-3xl: calc(var(--radius) * 3);
  --radius-4xl: calc(var(--radius) * 4);

  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
    0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --shadow-toast: var(--shdw-tst);

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1400px; /* default is 1536px */

  --font-heading: var(--font-heading);
  --font-body: var(--font-body);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 1.5rem;
  @media (width >= 1400px) {
    max-width: 1220px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer utilities {
  body,
  .font-text {
    font-family: var(--font-text);
    font-weight: var(--text-weight);
  }
  h1,
  h2,
  .font-display {
    font-family: var(--font-display);
    font-weight: var(--display-weight);
    -webkit-font-feature-settings: "ss02" on, "ss03" on, "ss04" on;
    -moz-font-feature-settings: "ss02" on, "ss03" on, "ss04" on;
    -ms-font-feature-settings: "ss02" on, "ss03" on, "ss04" on;
    font-feature-settings: "ss02" on, "ss03" on, "ss04" on; /* Enables the special `a` character and other characters for DM Sans */
  }
  .font-mono {
    font-family: var(--font-mono), monospace;
  }
  /* Hide number input arrows (spinners) in all browsers */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
  .collapsible-content {
    overflow: hidden;
  }
  .collapsible-content[data-state="open"] {
    animation: slideDown 300ms ease-out;
  }
  .collapsible-content[data-state="closed"] {
    animation: slideUp 300ms ease-out;
  }
  .embla {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }
}

@layer components {
  button {
    cursor: pointer;
  }
  [class*="border"] {
    @apply border-border;
  }
}

html,
body {
  scroll-behavior: smooth;
}
body {
  position: relative;
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-collapsible-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-collapsible-content-height);
  }
  to {
    height: 0;
  }
}
